@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(LatoLight.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(LatoHairlineItalic.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(LatoLightItalic.woff) format('woff');
}

html,body{
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	overflow: hidden;
}
body{
	background: url(bg.png) #257eb7 repeat-x;
	color: white;
	position: relative;
	font-family: Lato;
	font-weight: 300;
}
a{
	color: inherit;
	text-decoration: none;
}
#pixie{
	position: absolute;
	z-index: -1000000;
}
.stage{
	display: none;
	width: 100%;
	position: absolute;
	top: 0;
}
.stagein{
	margin: auto;
	text-align: center;
	width: 80%;
}
h1,h2{
	font-family: Lato;
	font-style: italic;
	font-smooth: none !important;
	-webkit-font-smoothing: none !important;
	-webkit-text-stroke: none !important;
	margin: 0; padding: 0;
}
h1{
	font-size: 100pt;
	font-weight: 100;
	text-shadow: #fff 0px 0px 30px;
	padding-top: 100px;
	padding-bottom: 100px;
}
h2{
	font-size: 30pt;
	font-weight: 300;
}
.left{
	float: left;
}
.right{
	float: right;
}
.cpe,.ske{
	display: block;
	font-size: 32pt;
}
.btn{
	background: #222;
	border: #555 solid 2px;
	padding: 5px;
	border-radius: 10px;
	font-style: normal;
	font-smooth: auto !important;
	-webkit-font-smoothing: subpixel-antialiased !important;
}
.clear{
	clear: both;
}

form{
	font-size: 24pt;
	font-smooth: none !important;
	-webkit-font-smoothing: none !important;
	-webkit-text-stroke: none !important;
	font-style: italic;
	text-align: left;
	width: 50%;
	margin: auto;
}
form div{
	margin-bottom: 10px;
}
#stage3 h1{
	padding-top: 30px;
	padding-bottom: 20px;
}
input, select{
	display: block;
	font-size: 24pt;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	box-shadow: #62b1ff 0px 0px 5px;
	transition: box-shadow linear 250ms;
}
select{
	font-family: Lato;
	-webkit-appearance: none;
}
input:focus, select:focus{
	box-shadow: white 0px 0px 15px;
}
button{
	background: transparent;
	font-family: Lato;
	font-style: italic;
	border: none;
	color: white;
	font-size: 32pt;
	display: block;
	width: 100%;
	box-sizing: border-box;
	box-shadow: white 0px 0px 20px;
	margin-top: 20px;
	animation-name: pulsate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	-webkit-animation-name: pulsate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	transition: background-color linear 250ms;
}
button:focus{
	background-color: #12214a;
	outline: none;
}

#stage2 h1{
	padding-top: 50px;
	padding-bottom: 50px;
}
#stage2 h2{
	padding-bottom: 40px;
	font-size: 28pt;
}
table{
	background: #222;
	width: 100%;
	font-size: 16pt;
	text-align: left;
}
td{
	padding: 5px;
}
tr.highlight{
	background: #555;
}

@keyframes pulsate{
	0% {
		box-shadow: white 0px 0px 20px;
	}
	50% {
		box-shadow: white 0px 0px 10px;
	}
}
@-webkit-keyframes pulsate{
	0% {
		box-shadow: white 0px 0px 20px;
	}
	50% {
		box-shadow: white 0px 0px 10px;
	}
}

.stage.visible{
	display: block;
}
#stage1 h2{
	padding-bottom: 150px;
}

#stage4 h3{
	margin: 0;
	font-size: 48pt;
	padding-bottom: 100px;
	font-weight: normal;
	text-shadow: #8edef0 0px 0px 30px;
}